@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .light {
  @apply bg-white text-black;
}

.dark {
  @apply bg-gray-800
} */

.colored-icon {
  fill: #ffffff;
  background-color: white;
}

.nav-links-desktop {
  @apply uppercase regular-20 text-gray-700 dark:text-gray-100 hover:border-b-2 hover:border-orange-500 hover:font-bold cursor-pointer;
}

.nav-links-mobile {
  @apply bold-20 text-white hover:underline hover:text-gray-800 hover:font-bold cursor-pointer pl-4 rounded-lg hover:bg-orange-600;
}

.btn-submit {
  @apply border-black rounded-lg w-[250px] self-center font-bold border-2 bg-orange-500 py-5 hover:bg-orange-600 cursor-pointer hover:scale-105;
}

.btn-disabled {
  @apply border-gray-700 font-bold border-2 bg-gray-500 px-8 py-5 hover:scale-100 cursor-not-allowed;
}

.content-container {
  @apply mx-auto max-w-[1680px];
}

.padding-container {
  @apply px-6 lg:px-20;
}

.bold-52 {
  @apply text-[52px] font-[700];
}

.bold-40 {
  @apply text-[40px] font-[700];
}

.bold-32 {
  @apply text-[32px] font-[700];
}

.bold-20 {
  @apply text-[20px] font-[700];
}

.bold-18 {
  @apply text-[18px] font-[700];
}

.regular-24 {
  @apply text-[24px] font-[400];
}

.regular-22 {
  @apply text-[22px] font-[400];
}

.regular-20 {
  @apply text-[20px] font-[400];
}

.regular-18 {
  @apply text-[18px] font-[400];
}
